.button {
  padding: 5px 15px;
  color: teal;
  font-size: 14px;
  background: transparent;
  border: 1px solid teal;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.3s, color 0.3s;
}

.button:hover {
  background-color: teal;
  color: white;
}
